$darkteal: #005352;
$opacdteal: rgba(#005352, 0.8);

$lightteal: #73dad2;
$opaclteal: rgba(#73dad2, 0.4);

$darkpink: #dd1945;

$golden: #fdc46e;

$lightgrey: #e6e6e6;
$opacgrey: rgba(#e6e6e6, .2);

$white: #fff;
$black: #000;

$font: 'Raleway', sans-serif;