@mixin btn-design {
    background-color: $darkteal;
    line-height: 35px;
    text-align: center;
    width: 5rem;
    color: $lightgrey;
    &:hover {
    background-color: $golden;

  }
}


@mixin btn-shop-design {
    background-color: $darkteal;
    line-height: 35px;
    text-align: center;
    width: 7rem;
    color: $lightgrey;
    &:hover {
    background-color: $golden;

  }
}

@mixin btn-donate {
	  background-color: $darkpink;
    line-height: 35px;
    text-align: center;
    width: 7rem;
    color: $lightgrey;
    &:hover {
        color: $darkteal;
    background-color: $golden;
	}
}


@mixin homepage-btn {
    background-color: $darkteal;
    line-height: 40px;
    text-align: center;
    width: 12em;
    color: $lightgrey;
    &:hover {
    background-color: $golden;
}
