<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>NNWM</title>
    <meta name="description" content="NNWM is a non-for-profit organization">
    
    <link href="css/style.css" rel="stylesheet">
    
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,500,300' rel='stylesheet' type='text/css'>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
    
    <body>
        
<header>        
        <section class="nav-bar">
            <div class="nav-btn">
                <a href="#" class="btn"><p>+</p></a>
            </div>

            <div class="sign-btn">
                <a href="#" class="btn"><p>Sign In</p></a>
            </div>
        </section>
        
        <section class="grid">
            <section class="banner unit unit-xs-1 unit-l-5-6">

                <div class="banner-logo">
                    <img src="{{site.baseurl}}../images/wordmark-white.svg">
                    <h1>Welcome!</h1>
                    <p>National Novel Writing Month is a non for profit organization working to help writers from all over the world succeed in finishing their very own novel!</p>
                </div>

            </section>
        
            <section class="side-bar unit unit-xs-1 unit-l-1-6">
                

                <div class="grid">
                    <div class="unit unit-xs-1 skip-div">
                        <ul class="skip-links">
                            <li>skip link</li>
                            <li>skip link</li>
                            <li>skip link</li>
                            <li>skip link</li>
                            <li>skip link</li>
                        </ul>
                    </div>
                    
                    <div class="donate-img unit unit-xs-1 unit-m-1-2 unit-l-1">
                        <img src="{{site.baseurl}}../images/header.jpg">
                    </div>
                    
                    <div class="donate-info unit unit-xs-1 unit-m-1-2 unit-l-1">
                        <h2>Donate</h2>
                        <p>donate by clicking here.</p>
                        <div class="btn donate-btn">
                            <p>Donate</p>
                        </div>
                    </div>
                    
                </div>
                
                
            </section>
        
        
        </section>
        
</header>
        
    
        {{content}}
    
        
        <footer class="footer">
            
           <div class="social-media">
               <ul>
                    <li class="social-btns"><a href="www.google.ca"><img class="social" src="{{site.baseurl}}../images/social-media.svg"></a></li>
                    <li class="social-btns"><a href="www.google.ca"><img class="social" src="{{site.baseurl}}../images/social-media.svg"></a></li>
                    <li class="social-btns"><a href="www.google.ca"><img class="social" src="{{site.baseurl}}../images/social-media.svg"></a></li>
               </ul>
               <ul>
                    <li class="social-btns"><a href="www.google.ca"><img class="social" src="{{site.baseurl}}../images/social-media.svg"></a></li>
                    <li class="social-btns"><a href="www.google.ca"><img class="social" src="{{site.baseurl}}../images/social-media.svg"></a></li>
                    <li class="social-btns"><a href="www.google.ca"><img class="social" src="{{site.baseurl}}../images/social-media.svg"></a></li>
               </ul>
            
            </div>
            
            <div class="legal-info">
                <p>Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. Legal Copy. </p>
                <p>© names go here.</p>
            </div>
            
        </footer>
        
        
        
        
        
    
    </body>
    
</html>