html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: auto;   
    font-family: $font;
}

img {
    width: 100%;
}

/* BANNER */

.nav-bar {
    background-color: $lightteal;
    height: 100px;

}

.sign-btn {
    position: absolute;
    top: 30px;
    right: 20px;
}

.btn {
  @include btn-design;
}

.nav-btn {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 35px;
    font-size: 40px;
}


.link {
    color: $lightgrey;
    text-decoration: none;
}

.link:hover {
    color: $darkteal;
    font-weight: 800;
}

.link p{
    margin-bottom: 0;
}


.banner {
    background-image: url(../../images/header.jpg);
    background-size: cover;
    background-position: center;
    background-color: grey;
    height: 40rem;
}

.banner-logo {
    width: 60vw;
    max-width: 40rem;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 90px;
    text-align: center;
}

h1 {
    padding-top: 2rem;
    color: white;
}

.banner-logo p {
    color: $lightgrey;
}


/* SIDE BAR */

.side-bar {
    background-color: $lightgrey;
    overflow:hidden;
}

.skip-title {
    padding-left: 20px;
    margin-bottom: 10px;
}

.skip-links {
    list-style-type: none;
    padding-left: 20px;
}

.skip-links a{
    display: block;
    text-decoration: none;
    color: black;
}

.skip-links a:hover {
    color: $lightgrey;
    background-color: $darkteal;
    padding-left: 15px;
}

.skip-div {
    padding-top: 2rem;
    padding-bottom: .5rem;
}

.donate-img {
    width: 80%;
    display: block;
    margin: auto;
    padding: 15px;
}

.donate-info {
    padding: 15px;
}

.donate-info h2 {
    padding: 0;
    margin: 0;
}


/* BODY */

.content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2rem;
}




/* FOOTER */

.social-media {
    padding-top: 40px;
    padding-bottom: 5px;
    position: relative;
    left: calc(50% - 9rem);
}

.social {
    width: 2rem;
    margin-left: 15px;
    margin-right: 15px;
}

.social-btns {
    list-style-type: none;
    display: inline-block;
}

.footer {
    height: 18rem;
    background-color: $lightgrey;
    overflow: hidden;
}

.legal-info {
    font-size: 10px;
    margin: 20px;
    text-align: center;
}