html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: auto;
    font-family: $font;
}

img {
    width: 100%;
}

/* BANNER */

.nav-bar {
    background-color: $lightteal;
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

.sign-btn {
    position: absolute;
    top: 30px;
    right: 20px;
}

.btn {
  @include btn-design;
}

.link {
    color: $lightgrey;
    text-decoration: none;
}

.link:hover {
    color: $darkteal;
    font-weight: 800;
}

.link p{
    margin-bottom: 0;
}

.light-grey {
    background-color: $lightgrey;
}




.banner {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    background-color: $white;
    margin-top: 60px;
    padding-bottom: 3rem;

}



.acro-mark-top {
    display: block;
    font-size: 200px;
    padding-top: 4rem;
    padding-bottom: 0;
    margin: 0;
    color: $white;
}

.full-mark {
    display: none;
}


.banner-logo {
    width: 60vw;
    max-width: 40rem;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 90px;
    text-align: center;

}

h1 {
    padding-top: 2rem;
    color: white;
}

.banner-logo p {
    color: $lightgrey;
}




/* DROP NAV */

.plus p {
    font-size: 30px;
}

li {
    list-style: none;
}

.nnwm {
    padding-top: 10rem;
    width: 80%;
    display: block;
    margin: auto;
}


#menu .box {
	position: absolute;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
	width: 10rem;
	left: 20px;
	top: 30px;
    height: 30rem;
	background: $opacdteal;
	transition: all 0.3s ease-in-out;
}


.hidden-nav {
    display: none;
}

#menu ul {
	position: relative;
	top: 60px;
    padding-top: 30px;
    padding-left: 20px;
	transform: scale(2);

	transition: all 0.3s ease-in-out;
}

#menu li {
	display: block;
    margin-bottom: 20px;
}

#menu li a {
	border-radius: 3px;
	padding: 10px;
    padding-left: 0;
    margin-left: 0;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 18px;
	color: $white;

	transition: all 0.2s ease-in-out;
}

#toggle-nav-label {
	color: $white;
	background: $darkteal;
	text-align: center;
	line-height: 30px;
	font-size: 40px;
	display: block;
	cursor: pointer;
	position: absolute;
    left: 20px;
    top: 30px;
	z-index: 500;
	width: 30px;
	height: 30px;
}

#toggle-nav-label:hover {
    background: $golden;
    color: $darkteal;
    font-weight: 600;
}


#menu li a:hover {
    background-color: $darkpink;
    color: $white;
    margin-left: 15px;
    padding-left: 15px;
}

#menu li a i {
	margin-right: 5px;
	font-size: 24px;
}

#toggle-nav {
    display: none;
}

#toggle-nav:checked ~ .box {
	opacity: 1;
	z-index: 400;
}

#toggle-nav:checked ~ .box ul {

	transform: scale(1);
}

#toggle-nav:checked ~ #toggle-nav-label {
	background: $darkteal;
	color: $white;
}

#toggle-nav:checked ~ #toggle-nav-label .plus {
    transform: rotate(45deg);
}



#content {
    margin: 0px 0px 20px 0px;
    height: 100vh;
    background-color: $lightgrey;
}

#content h1 {
    margin-top: 40px;
    padding-top: 40px;
	margin-bottom: 20px;
	font-size: 30px;
}

#content p {
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 20px;
}


.navigation li {
    display: inline-block;
}






/* SIDE BAR */

.side-bar {
    background-color: $lightgrey;
    overflow:hidden;
    padding-bottom: 4rem;
}

.skip-title {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.skip-links {
    list-style-type: none;
    padding-left: 20px;
}

.skip-links a{
    display: block;
    text-decoration: none;
    color: black;
}

.skip-links a:hover {
    color: $lightgrey;
    background-color: $darkteal;
    padding-left: 15px;
}

.skip-div {
    padding-top: 2rem;
    padding-bottom: .5rem;
}


.donate-btn {
    display: block;
    margin: auto;
    margin-top: 1rem;
}



.nav-icon {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 4rem;
}

.donate-icon {
    margin-top: 5rem;
}

.donate-skip {
    padding: 2rem;
}

.join-icon-2 {
    margin-top: 5rem;
}


/* BODY */



/* FOOTER */


.back-top {
    text-align: center;
    padding-top: 2rem;

}

.up-arrow {
    color: $white;
    font-size: 60px;
    text-decoration: none;
}

.social-media {
    padding-bottom: 5px;
    width: 20em;
    position: relative;

    left: calc(50% - 7rem);
}


.social-media ul {
    padding: 0;
    margin: 0;
}

.social {
    width: 2rem;
    margin-left: 15px;
    margin-right: 15px;
}

.social-btns {
    display: inline-block;
    color: $white;
    padding: 15px;
    background-color: $darkteal;
}

.social-btns:hover  {
    background-color: $golden;
}

li.social-btns {
    margin: 15px;
    line-height: 8px;
}

.social-btns a {
    text-decoration: none;
    color: $white;
}


footer {
    background-color: $lightteal;
    overflow: hidden;
}

.ftr-links {
    font-size: 12px;
}

.ftr-links li:hover {
    opacity: .5;
}

.acro-mark {
    display: block;
    font-size: 100px;
    color: $white;
    text-align: center;
    padding-top: none;
}

.legal-info {
    font-size: 10px;
    margin: 20px;
    text-align: center;
}

.icon-facebook {
    text-decoration: none;
}


/* SIGN UP */

.join-words {
  padding: 5%;
}

label {
  display: block;
}

input + label {
  display: inline-block;
}

.join-icon {
  width: 12em;
  padding: 0;
  position: relative;
  left: calc(50% - 6em);
  margin-top: 1em;
}

.join-words h1 {
  color: $darkteal;
}


.join-form h2 {
  text-align: center;
  color: $white;
}

.form-back {
  background: url(../images/banner-images/header-signup.jpg);
  padding-top: 1em;
}

.join-form {
  color: $white;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 0.75em;
  width: 70%;
}

textarea {
  height: auto;
  border-radius: 8px;
}

.signup-btn {
  padding: 0.5em 2em;
  color: $black;
  background-color: $white;
  font-size: 1.25em;
}

.signup-btn:hover {
  color: $white;
  background-color: $darkpink;
}

input {
  font-size: 0.75em;
  border-radius: 5px;
}

/* Custom dropdown */
.container {
  margin: 80px auto;
  width: 400px;
  text-align: center;
}

.container > .dropdown {
  margin: 0 20px;
  vertical-align: top;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 2em;
  width: 7em;
  background: $golden;
  border-radius: 3px;
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  xpadding-left: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: $black;
  background: $golden;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: $white;
  outline-offset: -2px;
}


/* CAROUSEL */

.slider {
    padding: 20px;
}

.slider-item {
    padding: 8px;
}

.slider-item h5 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 17px;
    color: $darkpink;

}

.slider-item p {
    font-size: 12px;
    color: $darkteal;

}

.slider-item img {
    border: solid 4px $black;
}

.slider-item img:hover {
    border: solid 4px $darkpink;
}

.slider h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: $darkteal;
    padding-left: 8px;
}

/* HOMEPAGE */

.homepage-icon {
    padding-top: 1.5em;
}

.homepage-grey {
  background-color: $lightgrey;
}

.homepage-pressinfo-list {
  padding-left: 0px;
  padding-right: 5px;
  font-style: italic;
}

.homepage-list a{
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  color: $darkteal;
}

.homepage-list a:hover {
  color: $darkpink;
  border-bottom: solid 3pt;
}

.homepage-h1 {
  color: $darkpink;
}

.homepage-btn {
  @include homepage-btn;
}

@media only screen and (min-width: 25em) {



.join-form h2 {
  text-align: center;
  color: $white;
}

.form-back {
  background: url(../images/banner-images/header-signup.jpg);
  padding-top: 1em;
}

.join-form {
  color: $white;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 0.75em;
  width: 70%;

}

textarea {
  height: auto;
  border-radius: 8px;
}


  .plus  {
    font-size: 40px;
  }



.signup-btn {
  padding: 0.5em 2em;
  color: $black;
  background-color: $white;
  font-size: 1.25em;
}

.signup-btn:hover {
  color: $white;
  background-color: $darkpink;
}

input {
  font-size: 0.75em;
  border-radius: 5px;
}

.join-us {
    background-color: $opacgrey;
    padding: 1rem;
}

.join-us-info {
    padding: 20px;
}

.test-body {
    max-width: 50rem;
    display: block;
    margin: auto;
    padding-bottom: 2rem;
}



/* Custom dropdown */
.container {
  margin: 80px auto;
  width: 400px;
  text-align: center;
}

.container > .dropdown {
  margin: 0 20px;
  vertical-align: top;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 2em;
  width: 7em;
  background: $golden;
  border-radius: 3px;
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  xpadding-left: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: $black;
  background: $golden;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: $white;
  outline-offset: -2px;
}


/* FAQ */

.thanks {
    background-color: $opacgrey;
}

.mission {
    color: $darkteal;
    margin-top: 2rem;
}

.mission h2 {
    line-height: 30px;
}

.mission-pic {
    border: 6px solid;
}







/* CAROUSEL */

.slider {
    padding: 20px;
}

.slider-item {
    padding: 8px;
}

.slider-item h5 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 17px;
    color: $darkpink;

}

.slider-item p {
    font-size: 12px;
    color: $darkteal;

}

.slider-item img {
    border: solid 4px $black;
}

.slider-item img:hover {
    border: solid 4px $darkpink;
}

.slider h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: $darkteal;
    padding-left: 8px;
}


@media only screen and (min-width: 25em) {





}

@media only screen and (min-width: 38em) {

  .plus  {
    font-size: 40px;
  }



  .footer-nav {
      display: block;
      margin: auto;
  }

  .footer-nav.grid {
      max-width: 500px;
      margin: 0 auto;
      margin-top: 3rem;
  }

  .uname,
  .e-mail,
  .pword,
  .cpword {
    display: inline-block;
    width: 40%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 90%;
  }

  .uname,
  .pword,
  .c-dropdown {
    text-align: right;
    margin-right: 10px;
  }

  .e-mail,
  .cpword,
  .r-dropdown {
    text-align: left;
    margin-left: 10px;
  }

  .uname,
  .e-mail {
    margin-bottom: 1em;
  }
}



@media only screen and (min-width: 60em) {

    .prep-intro-para {
        padding-right: 33.3%;
    }
    .prep-para-event {
        padding-top: 20em;
    }


    .prep-intro-para {
        padding-right: 33.3%;
    }
    .prep-para-event {
        padding-top: 20em;
    }

    .form-back {
        padding-top: 9em;
    }


    .skip-title {
        margin-top: 80px;
    }

     .hidden-nav {
        display: block;
        position: absolute;
        left: 20px;
        top: 0;
        padding-left: 20px;
}

    #toggle-nav-label {
        display: inline-block;
        width: 9rem;
        font-size: 20px;
        text-align: left;
        padding-left: 8px;
    }


    #toggle-nav:checked ~ #toggle-nav-label .plus {
    transform: rotate(45deg);
        position: absolute;
}

.full-mark {
    display: inherit;
    text-align: center;
    font-size: 40vw;
    line-height: 0;
    margin: auto;
    color: $white;
    margin-top: -7rem;
    margin-left: -4rem;
}


.intro {
    margin-top: 4rem;
}

.donate-icon {
        padding-top: 4rem;
    }

.acro-mark-top{
    display: none;
}
}

.test {

}

.foot-layout {
  margin-bottom: 0;
}

/* Prep */

.prep-title {
    color:$darkpink;
}

.prep-para {
    padding-top: 6em;
}

.prep-grey-bkg {
    background-color: $lightgrey;
}

.prep-podcast-thumbnail {
    padding: 0;
    margin: 0;
    opacity: 1;
}

.prep-event-one {
    display: block;
    background-image: url(../images/thumbnail-pictures/event-2.jpg);
    background-size: 100%;
    height: 7em;
    width: 7em;
}


.prep-event-one:hover {

    opacity: .5;
   background-image: url(../images/thumbnail-pictures/event-3.jpg);
}

.prep-pad-right {
    padding-right: 1.13em;
}


.prep-lists {
    padding-left: 1.3em;
    padding-right: 2em;
    padding-bottom: 2em;
    transition: all 200ms ease-in-out;
}

.prep-lists li:hover{
    color: $darkpink;
}
}


