html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: auto;
    font-family: $font;
}

img {
    width: 100%;
}

/* BANNER */

.nav-bar {
    background-color: $lightteal;
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.sign-btn {
    position: absolute;
    top: 30px;
    right: 20px;
}

.btn {
  @include btn-design;
}

.link {
    color: $lightgrey;
    text-decoration: none;
}

.link:hover {
    color: $darkteal;
    font-weight: 800;
}

.link p{
    margin-bottom: 0;
}






.banner {
    background-image: url({{site.baseurl}}/../../images/header.jpg);
    background-size: cover;
    background-position: center;
    background-color: $white;
    margin-top: 60px;
    padding-bottom: 3rem;

}



.acro-mark {
    display: block;
    height: 15rem;
    padding-top: 4rem;
}

.full-mark {
    display: none;
}


.banner-logo {
    width: 60vw;
    max-width: 40rem;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 90px;
    text-align: center;

}

h1 {
    padding-top: 2rem;
    color: white;
}

.banner-logo p {
    color: $lightgrey;
}




/* DROP NAV */

.plus p {
    font-size: 40px;
}

li {
    list-style: none;
}

.nnwm {
    padding-top: 10rem;
    width: 80%;
    display: block;
    margin: auto;
}


#menu .box {
	position: absolute;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
	width: 9rem;
	left: 20px;
	top: 30px;
	background: $opacteal;
    height: 28rem;
	transition: all 0.3s ease-in-out;
}


.hidden-nav {
    display: none;
}

#menu ul {
	position: relative;
	top: 60px;
    padding: 0;
    padding-left: 20px;

	transform: scale(2);

	transition: all 0.3s ease-in-out;
}

#menu li {
	display: block;
    margin-bottom: 20px;
}

#menu li a {
	border-radius: 3px;
	padding: 10px;
    padding-left: 0;
    margin-left: 0;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 18px;
	color: $white;
	transition: all 0.2s ease-in-out;
}

#toggle-nav-label {
	color: $white;
	background: $darkteal;
	text-align: center;
	line-height: 30px;
	font-size: 40px;
	display: block;
	cursor: pointer;
	position: absolute;
    left: 20px;
    top: 30px;
	z-index: 500;
	width: 30px;
	height: 30px;
}

#toggle-nav-label:hover {
    background: $golden;
    color: $darkteal;
    font-weight: 600;
}


#menu li a:hover {
    background-color: $darkteal;
    color: $white;
    margin-left: 15px;
    padding-left: 15px;
}

#menu li a i {
	margin-right: 5px;
	font-size: 24px;
}

#toggle-nav {
    display: none;
}

#toggle-nav:checked ~ .box {
	opacity: 1;
	z-index: 400;
}

#toggle-nav:checked ~ .box ul {

	transform: scale(1);
}

#toggle-nav:checked ~ #toggle-nav-label {

	background: $darkteal;
	color: $white;
    font-weight: 700;

}

#toggle-nav:checked ~ #toggle-nav-label .plus {
    transform: rotate(45deg);
}



#content {
    margin: 0px 0px 20px 0px;
    height: 100vh;
    background-color: $lightgrey;
}

#content h1 {
    margin-top: 40px;
    padding-top: 40px;
	margin-bottom: 20px;
	font-size: 30px;
}

#content p {
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 20px;
}


.navigation li {
    display: inline-block;
}






/* SIDE BAR */

.side-bar {
    background-color: $lightgrey;
    overflow:hidden;
    padding-bottom: 4rem;
}

.skip-title {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.skip-links {
    list-style-type: none;
    padding-left: 20px;
}

.skip-links a{
    display: block;
    text-decoration: none;
    color: black;
}

.skip-links a:hover {
    color: $lightgrey;
    background-color: $darkteal;
    padding-left: 15px;
}

.skip-div {
    padding-top: 2rem;
    padding-bottom: .5rem;
}


.donate-btn {
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.nav-icon {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 4rem;
}

.donate-icon {
    margin-top: 5rem;
}

.join-icon {
    margin-top: 5rem;
}


/* BODY */

.content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2rem;
}




/* FOOTER */


.back-top {
    text-align: center;
    padding-top: 2rem;

}

.up-arrow {
    color: $white;
    font-size: 60px;
    text-decoration: none;
}

.social-media {
    padding-bottom: 5px;
    width: 20rem;
    position: relative;
    left: calc(50% - 7rem);
}


.social-media ul {
    padding: 0;
    margin: 0;
}

.social {
    width: 2rem;
    margin-left: 15px;
    margin-right: 15px;
}

.social-btns {
    display: inline-block;
    color: $white;
    padding: 15px;
    background-color: $darkteal;
}

li.social-btns {
    margin: 15px;
    line-height: 8px;
}

.social-btns a {
    text-decoration: none;
    color: $white;
}

footer {
    background-color: $lightteal;
    overflow: hidden;
}

.ftr-links {
    font-size: 10px;
}

.ftr-links ul {

}

.ftr-links li {
    width: 2rem;
}

.legal-info {
    font-size: 10px;
    margin: 20px;
    text-align: center;
}

.icon-facebook {
    text-decoration: none;
}




@media only screen and (min-width: 25em) {





}




@media only screen and (min-width: 38em) {

    .footer-nav {
        display: block;
        margin: auto;
    }

    .footer-nav.grid {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 3rem;
    }

}



@media only screen and (min-width: 60em) {

    .skip-title {
        margin-top: 80px;
    }

     .hidden-nav {
        display: block;
        position: absolute;
        left: 20px;
        top: 0;
        padding-left: 5px;
}

    #toggle-nav-label {
        display: inline-block;
        width: 9rem;
        font-size: 20px;
        text-align: left;
        padding-left: 8px;
    }


    #toggle-nav:checked ~ #toggle-nav-label .plus {
    transform: rotate(45deg);
        position: absolute;
}


.acro-mark {
    display: none;
}

.full-mark {
    display: block;
    font-size: 40vw;
    line-height: 0;
    margin: auto;
    color: $white;
    margin-top: -7rem;
    margin-left: -4rem;
}

.intro {
    margin-top: 4rem;
}

.donate-icon {
        padding-top: 4rem;
    }

}




