<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>NNWM</title>
    <meta name="description" content="NNWM is a not for profit o">
    
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,500,300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
    <body>
        
        
        <section class="nav-bar">
            <div class="nav-btn btn">
                <p>+</p>
            </div>

            <div class="btn sign-btn">
                <p>Sign In</p>
            </div>
        </section>
        
        <section class="grid">
            <section class="banner unit unit-xs-1 unit-l-10-12">

                <div class="banner-logo">
                    <img src="../images/wordmark-white.svg">
                </div>

            </section>
        
            <section class="side-bar unit unit-xs-1 unit-l-2-12">
                

                <div class="grid">
                    <div class="skip-links unit">
                        <ul>
                            <li>skip link</li>
                            <li>skip link</li>
                            <li>skip link</li>
                            <li>skip link</li>
                            <li>skip link</li>
                        </ul>
                    </div>
                    
                    <div class="donate-img unit unit-xs-1 unit-m-1-2 unit-l-1">
                        <div class="donate-img"></div>
                    </div>
                    
                    <div class="donate-info unit">
                        <h2>Donate</h2>
                        <p>donate by clicking here. donate by clicking here.</p>
                        <div class="btn donate-btn">
                            <p>Donate</p>
                        </div>
                    </div>
                    
                </div>
                
                
            </section>
        
        
        </section>
        
    
        {{content}}
    
        
        
        
        
        
        
        
    
    </body>
    
</html>