<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>NNWM</title>
    <meta name="description" content="NNWM is a non-for-profit organization">

    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">

    <link href="https://file.myfontastic.com/ByYgcfmddFUXmrFSe9SRAH/icons.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,500,300' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

    <body>

<header id="top">
        <section class="nav-bar">


            <div class="container">
    	       <nav id="menu">

    		      <input type="checkbox" id="toggle-nav"/>
    		      <label id="toggle-nav-label" for="toggle-nav">
                    
                    <div class="hidden-nav">Navigate</div>
                    <div class="plus">+ </div>
                      



                    </label>

    		<div class="box">
	    		<ul>
	    			<li><a href="#">Home</a></li>
	    			<li><a href="#">Donate</a></li>
	    			<li><a href="#">Join Us</a></li>
	    			<li><a href="#">Profile</a></li>
	    			<li><a href="#">Resources</a></li>
	    			<li><a href="#">FAQ</a></li>
	    			<li><a href="#">Sponsors</a></li>
	    			<li><a href="#">Shop</a></li>
	    		</ul>
    		</div>

    	</nav>
	</div>

            <div class="sign-btn btn">
                <a class="link" href="#"><p>Sign In</p></a>
            </div>
        </section>

        <section class="grid">
            <section class="banner unit unit-xs-1 unit-l-5-6">

                <div class="banner-logo">

                    <img class="acro-mark" src="{{site.baseurl}}/images/acro-mark.svg">

                    <div class="full-mark">
                        <a class="icon icon-wordmark-nnwm"></a>
                    </div>


                    <h1 class="push-0 intro">Welcome!</h1>
                    <p>National Novel Writing Month is a non for profit organization working to help writers from all over the world succeed in finishing their very own novel!</p>
                </div>

            </section>

            <section class="side-bar unit unit-xs-1 unit-l-1-6">


                <div class="grid">
           <!--           <div class="unit unit-xs-1 skip-div">
                      <h6 class="skip-title">On this page:</h6>
                        <ul class="skip-links">
                            <li><a href="">skip link</a></li>
                            <li><a href="">skip link</a></li>
                            <li><a href="">skip link</a></li>
                            <li><a href="">skip link</a></li>
                            <li><a href="">skip link</a></li>
                        </ul>
                    </div>
-->


                    <div class="donate-info unit unit-xs-1 unit-m-1-2 unit-l-1">
                        <img class="nav-icon donate-icon" src="{{site.baseurl}}../icons/icon-donate-04.svg">

                        <div class="btn donate-btn">
                            <a class="link" href=""><p>Donate</p></a>
                        </div>
                    </div>
                        
                    <div class="donate-info unit unit-xs-1 unit-m-1-2 unit-l-1">
                        <img class="nav-icon join-icon" src="{{site.baseurl}}../icons/icon-join-01.svg">

                        <div class="btn donate-btn">
                            <a class="link" href=""><p>Join Us</p></a>
                        </div>
                    </div>

                </div>


            </section>


        </section>

</header>

        
        
        
        

        {{content}}


        
        
        
        
        <footer class="footer">

            <div class="back-top">
                <a class="up-arrow" href="#top"><i class="icon icon-up-open"></i></a>
            </div>
                
                
            <div class="social-media">
               <ul>
                    <li class="social-btns"><a href="https://www.facebook.com/nanowrimo"><i class="icon icon-facebook"></i></a></li>
                    <li class="social-btns"><a href="https://www.instagram.com/nanowrimo/"><i class="icon icon-instagrem"></i></a></li>
                    <li class="social-btns"><a href="https://www.youtube.com/c/nanowrimo"><i class="icon icon-play"></i></a></li>
               </ul>
               <ul>
                    <li class="social-btns"><a href="https://www.pinterest.com/nanowrimo/"><i class="icon icon-pinterest"></i></a></li>
                    <li class="social-btns"><a href="https://twitter.com/nanowrimo"><i class="icon icon-twitter"></i></a></li>
                    <li class="social-btns"><a href="http://blog.nanowrimo.org/"><i class="icon icon-tumblr"></i></a></li>
               </ul>

            </div>

            <div class="footer-nav grid">
                
              <div class="unit unit-xs-hidden unit-m-1-4 ftr-links">
                <ul>
                  <li class="push bold">Quick Links</li>
                  <li class="bold">My profile</li>
                  <li class="bold">FAQ</li>
                  <li class="bold">Donate</li>
                  <li class="bold">Shop</li>
                </ul>
              </div>

              <div class="unit unit-xs-hidden unit-m-1-4 ftr-links">
                <ul>
                  <li class="bold">Sign Up</li>
                  <li>Confirmation</li>
                  <li class="push">Profile Page</li>

                  <li class="bold">Resources</li>
                  <li>Forums</li>
                  <li>Prep</li>
                  <li>Pep Talks</li>
                </ul>
              </div>

              <div class="unit unit-xs-hidden unit-m-1-4 ftr-links">
                <ul>
                  <li class="bold">Join Us</li>
                  <li>Events</li>
                  <li>Find your region</li>
                  <li class="push">Volunteer</li>
                  <li class="bold">Sponsors</li>
                  <li>Corporate</li>
                  <li>Personal</li>
                </ul>
              </div>

              <div class="unit unit-xs-hidden unit-m-1-4 ftr-links">
                <ul>
                  <li class="bold">A Look Inside</li>
                  <li>Board of Directors</li>
                  <li>History</li>
                  <li>Staff</li>
                </ul>
              </div>
            
            </div>


            <div class="legal-info">
                <p class="push-0">Copyright © 1999 - 2016 National Novel Writing Month</p>
                <p>All posted novel excerpts remain copyright to their authors.</p>
            </div>

        </footer>






    </body>

</html>
