---
layout: nav-foot
---

        <section class="grid">

            <section class="banner-donate unit unit-xs-1 unit-l-1" {% if page.url == "{{site.baseurl/login" %} class="banner-home" {% endif %} >


                <div class="banner-logo">

                    <div class="acro-mark-top">
                        <a class="icon icon-nnwm"></a>
                   </div>

                    <div class="full-mark">
                        <a class="icon icon-wordmark-nnwm"></a>
                    </div>


                    <h1 class="push-0 intro">Welcome!</h1>
                    <p>National Novel Writing Month is a non for profit organization working to help writers from all over the world succeed in finishing their very own novel!</p>
                </div>

            </section>
        </section>
