<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>NNWM</title>
    <meta name="description" content="NNWM is a non-for-profit organization">
    
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/libraries/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/libraries/slick/slick-theme.css"/>

    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">

    <link href="https://file.myfontastic.com/FS7ojkLqCv6pfHasydRi5k/icons.css" rel="stylesheet">
    
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,500,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

    <body>

<header id="top">
        <section class="nav-bar">


            <div class="container">
    	       <nav id="menu">

    		      <input type="checkbox" id="toggle-nav"/>
    		      <label id="toggle-nav-label" for="toggle-nav">

                    <div class="hidden-nav">Navigate</div>
                    <div class="plus">+</div>




                    </label>

    		<div class="box">
	    		<ul>
	    			<li><a href="{{site.baseurl}}/">Home</a></li>
	    			<li><a href="{{site.baseurl}}/donate">Donate</a></li>
	    			<li><a href="{{site.baseurl}}/login">Join Us</a></li>
	    			<li><a href="{{site.baseurl}}/profile">Profile</a></li>
	    			<li><a href="{{site.baseurl}}/resources-prep">Resources</a></li>
	    			<li><a href="{{site.baseurl}}/faq">FAQ</a></li>
	    			<li><a href="#">Sponsors</a></li>
	    			<li><a href="{{site.baseurl}}/shop">Shop</a></li>
	    		</ul>
    		</div>

    	</nav>
	</div>

            <div class="sign-btn btn">
                <a class="link" href="{{site.baseurl}}/login"><p>Sign In</p></a>
            </div>
        </section>

        <section class="grid">
            <section class="banner unit unit-xs-1 unit-l-5-6">

                <div class="banner-logo">

                    <div class="acro-mark-top">
                        <a class="icon icon-nnwm"></a>
                   </div>

                    <div class="full-mark">
                        <a class="icon icon-wordmark-nnwm"></a>
                    </div>


                    <h1 class="push-0 intro">Welcome!</h1>
                    <p>National Novel Writing Month is a non for profit organization working to help writers from all over the world succeed in finishing their very own novel!</p>
                </div>

            </section>

            <section class="side-bar unit unit-xs-1 unit-l-1-6">


                <div class="grid">
                   <div class="unit unit-xs-1-2 unit-m-1-2 unit-l-1 skip-div">
                      <h6 class="skip-title">On this page:</h6>
                        <ul class="skip-links">
                            <li><a href="">skip link</a></li>
                            <li><a href="">skip link</a></li>
                            <li><a href="">skip link</a></li>
                            <li><a href="">skip link</a></li>
                            <li><a href="">skip link</a></li>
                        </ul>
                    </div>
                  


            </section>


        </section>

</header>






        {{content}}






        <footer class="footer">

            <div class="back-top">
                <a class="up-arrow" href="#top"><i class="icon icon-up-open"></i></a>
            </div>


            <div class="social-media">
               <ul>
                    <li class="social-btns"><a href="https://www.facebook.com/nanowrimo"><i class="icon icon-facebook"></i></a></li>
                    <li class="social-btns"><a href="https://www.instagram.com/nanowrimo/"><i class="icon icon-instagrem"></i></a></li>
                    <li class="social-btns"><a href="https://www.youtube.com/c/nanowrimo"><i class="icon icon-play"></i></a></li>
               </ul>
               <ul>
                    <li class="social-btns"><a href="https://www.pinterest.com/nanowrimo/"><i class="icon icon-pinterest"></i></a></li>
                    <li class="social-btns"><a href="https://twitter.com/nanowrimo"><i class="icon icon-twitter"></i></a></li>
                    <li class="social-btns"><a href="http://blog.nanowrimo.org/"><i class="icon icon-tumblr"></i></a></li>
               </ul>

            </div>

                    <div class="footer-nav grid">
                                  <div class="unit unit-xs-hidden unit-m-1-4 ftr-links">
                                    <ul>
                                      <li class="push bold ftr-title">Quick Links</li>
                                      <li class="bold ftr-title">My profile</li>
                                      <li class="bold ftr-title">FAQ</li>
                                      <li class="bold ftr-title">Donate</li>
                                      <li class="bold ftr-title">Shop</li>
                                    </ul>
                                  </div>

                                  <div class="unit unit-xs-hidden unit-m-1-4 ftr-links">
                                    <ul>
                                      <li class="bold ftr-title">Sign Up</li>
                                      <li>Confirmation</li>
                                      <li class="push">Profile Page</li>

                                      <li class="bold ftr-title">Resources</li>
                                      <li>Forums</li>
                                      <li>Prep</li>
                                      <li>Pep Talks</li>
                                    </ul>
                                  </div>

                                  <div class="unit unit-xs-hidden unit-m-1-4 ftr-links">
                                    <ul>
                                      <li class="bold ftr-title">Join Us</li>
                                      <li>Events</li>
                                      <li>Find your region</li>
                                      <li class="push">Volunteer</li>
                                      <li class="bold ftr-title">Sponsors</li>
                                      <li>Corporate</li>
                                      <li>Personal</li>
                                    </ul>
                                  </div>

                                  <div class="unit unit-xs-hidden unit-m-1-4 ftr-links">
                                    <ul>
                                      <li class="bold ftr-title">A Look Inside</li>
                                      <li>Board of Directors</li>
                                      <li>History</li>
                                      <li>Staff</li>
                                    </ul>
                                  </div>
                    </div>
 


            <div class="legal-info">
                <p class="push-0">Copyright © 1999 - 2016 National Novel Writing Month</p>
                <p>All posted novel excerpts remain copyright to their authors.</p>
            </div>

        </footer>


        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="{{site.baseurl}}/libraries/slick/slick.min.js"></script>

        <script src="{{site.baseurl}}/js/main.js"></script>
    </body>

</html>
